BasicExample/src/main/app/Spell.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="SpellFlow1" doc:name="SpellFlow1">
        <file:inbound-endpoint path="/Users/Paulo/Desktop/Mule/inXML" pollingFrequency="3000" responseTimeout="10000" doc:name="incoming File"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="spellcheck-service.cloudhub.io/spellcheck" port="80" method="POST" doc:name="invoke API"/>
        <echo-component doc:name="Echo"/>
        <file:outbound-endpoint path="/Users/Paulo/Desktop/Mule/outXML" outputPattern="#[function:datestamp:dd-MM-yy]_#[function:systime]" responseTimeout="10000" doc:name="outcoming file"/>
    </flow>
</mule>
